:root {
    --theme-color: #ed5c4f;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5
}

.icon-bar {
    position: relative;
    height: 2px;
    width: 22px;
    background-color: white;
    display: block;
    margin: 4px;
    border-radius: 3px;
}

button {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    top: 1.2em;
    left: 1em;
}

nav {
    display: block;
    background-color: var(--theme-color);
    color: white;
    height: 3.3em;
    box-shadow: 0px -2px 10px black;
}

a,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}

.brand-name a {
    color: white;
    position: relative;
    display: inline-block;
    left: 3.6em;
    top: 0.8em;
    font-size: 1.2em;
}

#search_poke {
    width: 98%;
    height: 3em;
    background-color: transparent;
    border: none;
    border-bottom: 0.15em solid var(--theme-color);
    margin: 1%;
    outline: none;
    font-size: 1em;
}

#menubar {
    height: 100%;
    min-width: 25%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

div#menubar:before {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    height: 100%;
    width: 75%;
    right: 0;
    z-index: 2;
}

.dispcls {
    display: none;
}

a,
a:active {
    color: black;
    text-decoration: none;
}

ul {
    padding: 10px;
    margin: 1em;
}

#menubar ul li {
    list-style: none;
    text-decoration: none;
    margin: 1em;
    font-size: 125%;
    font-style: bold;
}

.remove {
    position: absolute;
    right: 0;
    margin-right: 0.3em;
    font-size: 200%;
    color: gray;
    cursor: pointer;
}



.container{
    display:block;
    margin:2px auto;
}

.card{
    min-height:13em; 
    max-height:13em;
    width:13%;
    /* width:14%; */
    /* display: block; */
    background-color: white;
    /* margin:1% 1.1%;
     */
     position: relative;
     margin-top:1%;
     margin-left:3%;
    float:left;
    box-shadow: 1px 1px 2px -2px grey;
}

.card .name {
    position: absolute;
    
    left: 5%;
    bottom: 4%;
}

.card .rank {
    position: absolute;
    right: 5%;
    bottom: 4%;
}

.card img {
    display:block;
    width:100%; 
    /* margin:20% auto;   */
}

.container > .card:nth-child(3n+1)  img{
  
    width:35%; 
    margin:25% auto;

 }
 .container > .card:nth-child(3n+2)  img{

    width:48%; 
    margin:23% auto;
 }
 .container > .card:nth-child(3n+3) img {
   
    width:80%; 
    margin:21% auto;
 }


 #modal-show{
     margin:0 17%;
     padding:2em;
    width:60%;
    position:fixed;
    top:10%;
    background-color:white;
    z-index:100;
    border:1px solid gray;
    border:1px solid gray;
    box-shadow:0px 8px 29px -7px #262121;
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
    
     }
 #modal-show:after{
     position:fixed;
     left:100px;
     width:40%;
     height:100%;
     background-color:black;
     z-index:2000;

 }
.close{
    position: absolute;
    right:0.7em;
    top:1em;
    color:gray;
    font-size: 2em;
}
 #modal-show .header{
     height:3em;
     color:black;

 }
 #modal-show .header span{
    position: relative;
    top: 35px;
    font-size: 1.5em;
 }
 #modal-show .body img{
     position: relative;
     width:34%;
     margin:0 35%;
 }
 #modal-show .body .content:{
     width:100%;
     height:100%;
 }

 .row {
     display:block;
     margin-top:1em;
     text-align: center;
 }
 .row span{
     width:40%;
     padding:3%;
     margin:1em;

 }
 
  @media screen and (max-width:800px){
     .card{
         width:30%;
         margin:1.5%;
     }
     .container > .card:nth-child(3n+1)  img{
        
          width:28%; 
          margin:33% auto;
      
       }
       .container > .card:nth-child(3n+2)  img{
      
          width:43%; 
          margin:8% auto;
       }
       .container > .card:nth-child(3n+3) img {
         
          width:65%; 
          margin:13% auto;
       }
 
 }
 @media screen and (max-width:500px){
     .card{
         width:100%;
         min-height:25%;
         margin:0;
         margin-top:1%;
     }
     .container > .card:nth-child(3n+1)  img{
        
          width:25%; 
          margin:13% auto;
      
       }
       .container > .card:nth-child(3n+2)  img{
      
          width:22%; 
          margin:4% auto;
       }
       .container > .card:nth-child(3n+3) img {

          width:38%; 
          margin:1% auto;
       }


 }

 @media screen and (min-width:1600px){
  .card{
         width:13%;
         max-height:16em;
         margin:1.8%;
         margin-top:1%;
     }
     .container > .card:nth-child(3n+1)  img{
        
          width:35%; 
          margin:25% auto;
      
       }
       .container > .card:nth-child(3n+2)  img{
      
          width:48%; 
          margin:11% auto;
       }
       .container > .card:nth-child(3n+3) img {
         
          width:67%; 
          margin:12% auto;;
       }
         
 }